.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.brand-logo.brand-margin {
  margin-left: 15px; 
}

ul {
  margin-left: 15px;
}

.contact-list {
  margin: 15px;
}

.card-content.display-flex {
  display: flex;
  align-items: center;
}

.content-margin {
  margin: 5px;
  padding-left: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
